<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./public/css/spectre.min.css">
        <link rel="stylesheet" href="./public/css/spectre-exp.min.css">
        <link rel="stylesheet" href="./public/css/spectre-icons.min.css">
        <title>タッチタイピング練習用</title>
    </head>
    <body>
        <div id="app">
            <div id="info" class="container">
                <div v-if="!started" class="columns">
                    <div class="column col-12">
                        <figure class="avatar avatar-lg">
                            <img src="public/img/typing_osoi.png" alt="...">
                        </figure>
                        <b class="text-large">タッチタイピング</b>
                    </div>
                    <div class="column">
                        <label class="label label-default text-large">問題数: {{ questions.length }} 問</label>
                        <label class="label label-default text-large">制限時間: {{ timeout/1000 }} 秒</label>
                    </div>
                </div>

                <div v-if="started" class="columns">
                    <div class="column col-4">残り時間: {{ timeout/1000 - count_time }} 秒</div>
                    <meter class="meter column col-8" :value="timeout/1000 - count_time" :optimum="timeout/1000*0.9" min="0" :max="timeout/1000" :low="timeout/1000*0.2" :high="timeout/1000*0.6"></meter>
                </div>

                <div v-if="!loaded" class="loading loading-lg"></div>

                <div v-if="started" class="columns">
                    <div class="column col-3">
                        <span class="label label-rounded label-secondary badge" :data-badge="score">問題 {{ idx+1 }}</span>
                    </div>
                    <h2 class="column col-12">{{ questions[idx] }}</h2>
                    <div class="column col-12">
                        <input ref="answerInput" :disabled="!started" placeholder="解答欄" v-model="answer" @keypress="getKey">
                    </div>
                 </div>
                 <button class="btn btn-success" :disabled="!loaded" @click="start" v-if="!started">スタート</button>
                 <button class="btn btn-error" :disabled="!started" @click="reset" v-if="started">リセット</button>
                 <modal :modal="modal" ref="modal" @reset="reset"></modal>
            </div>
        </div>
        <script src="./public/js/axios.min.js"></script>
        <script src="./public/js/vue.min.js"></script>
        <script src="./components/modal.js"></script>
        <script src="./public/js/index.js"></script>
    </body>
</html>
