.container {
    padding: 5px 15px 5px;
}

#correct {
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: lightblue;
}

#question {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: lightblue;
}

.font-big {
    padding: 1px 10px 1px;
    font-size: 50px;
}
